<div class="row">
    
    <div class="col-md-2">
      <mat-label>Year</mat-label><br>
      <mat-select class="form-control">
        <mat-option *ngFor="let years of v_years" [value]="years">
          {{years}}
        </mat-option>
      </mat-select>
    </div>

    <div class="col-md-4">
      <mat-label>Genres</mat-label><br>
      <mat-select class="form-control" [formControl]="stateCtrl" >
          <mat-option *ngFor="let genre of v_genres" [value]="genre.id">
              {{genre.name}}
            </mat-option>
      </mat-select>
    </div>
    <div class="col-md-4">
      <button type="button" (click)="onSelectGetFilter($event)" class="btn btn-md btn-primary" style="margin-top: 10px;">
        <i class="glyphicon glyphicon-search"></i> Search
      </button>
    </div>
</div>
<br />

<!-- Marketing Icons Section -->
<div class="row" id="l_movies">

  <div class="col-lg-6 mb-6" *ngFor="let movie of moviesList">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{movie.poster_path}}" 
          class="card-img img-base" />
        </div>
        <div class="col-md-8">
          <div class="card-header">
            <h5 class="card-title">{{movie.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{movie.release_date}}</h6>
          </div>
          <div class="card-body">
            <p class="card-text text-muted">
             <small>{{movie.overview | slice:0:220}} ...</small>
            </p>
          </div>
          <div class="card-footer">
            <a routerLink="/movie-details/{{movie.id}}" class="btn btn-link btn-sm" target="_blank">More info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /// -->
</div>
<!-- /.row -->